# Copy this file to secret_settings.py and fill in the details.
# Never commit the copy with real data into source control, etc.


secret_key = 'secret key goes here'

db_user = 'db username goes here'
db_password = 'db password goes here'


