
body { 
  background-color: white; 
}

.wide-menu a:link, a:visited {
  text-decoration: none;
  color: gray;
  padding-left: 2%;
  padding-right: 2%;
}

.wide-menu a:hover{
  color: coral;
}

.wide-menu {
  visibility: hidden;
  position: fixed;
  padding: 8px;
  width: 100%; 
  text-align: center;
  font-family: "raleway", sans-serif;
  font-size: 1.2em;
  color: gray;
  background-color: whitesmoke;
  z-index: 99;
}


.mobile-nav{
  background-color: gray;
  position: fixed;
  width: 100%; 
  z-index: 98;
  height: 47px;
}

.menu-btn{
  position: absolute;
  width: 19px;
  padding:12px 6px 0px 0px;
  right: 15px;
  z-index: 99;
}

.menu-btn span {
  display: block;
	width: 19px;
	height: 3px;
	margin-top: 4px;
	background: whitesmoke;
  
  }

#menu{
  border-bottom-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  margin-bottom: 0;
  padding: 10px;
  color: whitesmoke;
  background-color: gray;
}

.responsive-menu a:link, a:visited, p {
  text-decoration: none; 
}

.responsive-menu p:hover{
  background-color:whitesmoke;
}
.responsive-menu{
  z-index: 98;
  display: none;
}

.responsive-menu p {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  margin-bottom: 0;
  padding: 8px 0px 8px 15px;
  color: gray;
}

.expand {
	display: block; 
  text-align: left;
  font-family: "raleway", sans-serif;
  font-size: 1.4em;
  background-color: rgba(230,230,230,1);
  position: fixed;
  width:100%;
}

.background-img {
  width: 100%;
  z-index: 1;
  }

a:hover{
  text-decoration: none;
}

h1{
  display: inline-block;
  font-size: 1.5em;
  border: 1px solid;
  z-index: 1;
  text-align: center; 
  font-family: 'raleway',sans-serif;
  padding: 3px;
}

.landscape{
  display: none;
}

.landscape2{
  display: none;
}

.portrait{
  display: block;
}

.portrait2{
  display: none;
}

.content-container{
  position: absolute;
  z-index: 2;  
  padding: 0;
}

button{
  display: inline;
  font-size: 1em;
  background-color: transparent;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'pavanam',sans-serif;
}

button a:link, a:visited a:hover{
  text-decoration: none;
}

.home{
  width: 100%;
  position: relative;
 }

#container-home{
  margin-top: -90%;
  text-align: center;
  font-family: 'pavanam', sans-serif;
  display: block;
  color: white;
  width: 100%;
}

#logo {
  width: 80%;
}

#container-home p{
  font-size: 1.1em;
  color: white;
 }

#container-home h2{
  font-size: 1.3em;
  padding-top: 65px;
  margin-bottom: 5px;
 }

#container-home button{
  border: 1.7px solid white;
}

#container-home button:hover{
  background-color: white;
  color: gray;
}

#container-home a:link, a:visited{
  color: white;
}

.amenities {
  position: relative;
  width: 100%;
  -webkit-filter: sepia(10%);
  margin-top: -18%;
}

.dog {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 50%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#container-amenities{
  top: 42%; 
  right: 57%;
  color: gray;
  width: 115px;
}

#container-amenities ul{
  font-family:'pavanam', sans-serif;
  font-size: 1em;
  color: gray;
  z-index: 1;
  text-align: left; 
  padding-left: 22px;
}

.units{
  margin-top: -12%;
}

#container-units{
  margin-top: -100%;
  right: 5%;
  text-align: right;
  font-family: 'pavanam', sans-serif;
  display: block;
  color: white;
  width: 190px;
  border-right: solid white 4px;
  padding-right: 20px;
}

#container-units h1{
  margin-top: 0;
}

#container-units p{
  margin-bottom: 0;
  font-size: 1em;
}

#container-units h2{
  font-size: 1.3em;
  margin-bottom: 1px;
  margin-top: 10px;
}

.contact {
  position: relative;
  width: 100%;
  margin-top: -20%;
  z-index: 3;
}

#container-contact{
  left:5%;
  top: 8%;
  width: 50%;
  color: gray;
  z-index: 1;
}

#container-contact p{
  font-family:'pavanam', sans-serif;
  font-size: 1em;  
  text-align: left; 
  color: gray;
  margin: 0;
  padding: 0;
}

#contact-form {
  top: 5px;
  width:100%;
  position:relative;
  font-family: 'pavanam', sans-serif;
  text-align: left;   
}

#checkbox{
  margin-right: 5px;
}

.field{
  width: 100%;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
  margin-bottom: 5px;
    
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
  color: gray;
  font-family: sans-serif;
  font-size: .8em;
  border-color: gray;
  border-style: solid;
  border-width: thin;
  background-color: transparent;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
  border: 1px solid gray;
  background-color: white;
}

/* Remove box shadow firefox, chrome and opera put around required fields. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

#contact-form #submit-button {
  margin-top: 8%;;
  display: inline;
  background: gray;
  font-family: 'pavanam',sans-serif;
  width: 100%;
  font-size: 1.1em;
  margin-bottom: 20px;
  color: white;
}
 
 
#submit-button:active {
    position:relative;
    top:1px;
}

#errors {
    display: none;
}

#success {
    display: none;
}


#container-contact-text button{
  border: 1.7px solid gray;
}

#container-contact-text button:hover{
  background-color: gray;
  color: white;
}

#container-contact-text a:link, a:visited{
  color:gray;
}

#second-image {
  -webkit-clip-path: polygon(0% 0%, 100% 9%, 100% 100%, 0% 100%);
}

#third-image {
  -webkit-clip-path: polygon(0% 2%, 100% 0%, 100% 100%, 0% 100%);
  
}

#fourth-image {
  -webkit-clip-path: polygon(0% 0%, 100% 7%, 100% 100%, 0% 100%);
}


@media only screen and (min-width : 370px){
  .contact .portrait{
    display: none;
  }
  
  .contact .portrait2{
    display: block;
  }
  
  #container-units{
    margin-top: -98%;
    width: 45%;
    margin-left: 50%;
  }
}

@media only screen and (min-width : 385px){
  
  button{
    font-size: 1em;
  }
  
  h1{
    font-size: 1.7em;
    padding: 6px;
  }
  
  #container-home p{
    font-size: 1.2em;
 }

  #container-home h2{
    font-size: 1.3em; 
 }
  
  #container-amenities{
    top: 43%;
    width: 150px;
    right: 54%;
  }
  
  #container-amenities ul,
  #container-units p
  {
    font-size: 1.2em;
  }
  
  #container-units h2{
    font-size: 1.4em;
  }
  
  #container-units{
    width: 230px;
  }
  
  #container-contact p{
    font-size: 1.2em;
  }
}

@media only screen and (min-width : 465px){
  button{
    font-size: 1.1em;
  }
  
  h1{
    font-size: 2em;
  }
  
  #container-home p{
    font-size: 1.4em;
 }

  #container-home h2{
    font-size: 1.4em;
    padding-top: 90px;
    margin-bottom: 10px;
 }

  #container-amenities{
    top:44%;
    right:53%;
    width: 180px;
  }
  
  #container-amenities ul,
  #container-units p {
    font-size: 1.4em;
  }
  
  #container-units h2{
    font-size: 1.6em;
    margin-top: 12px;
  }
  
  #container-units{
    width: 270px;
  }
  
  #container-contact p{
    font-size: 1.4em;
  }
}
  
@media only screen and (min-width : 540px){
  .contact .portrait2{
    display: none;
  }
  
  .wide-menu {
  visibility: visible;
  }
  
  .mobile-nav{
    visibility: hidden;
  }
  
  .portrait{
    display: none;
  }
  
  .landscape{
    display: block;
  }
 
  
  button{
    font-size: 1.1em;
  }
  
  
  #container-home{
  margin-top: -47%;
}
  
  #logo{
    width: 60%;
  }
  
  #container-home p{
    font-size: 1.4em;
 }

  #container-home h2{
    font-size: 1.4em;
    padding-top: 20px;
    margin-bottom: 5px;
 }

  .amenities{
    margin-top: -10%;
  }
  
  #container-amenities{
    top:35%;
    right:55%;
  }
  
  #container-amenities ul,
  #container-units p {
    font-size: 1.4em;
  }
  
  .units{
    margin-top: -8%;
  }
  
  #container-units{
    margin-top: -66%;
    width: 260px;
    right: 3%;
  }
  
  .contact{
    margin-top: -10%;
  }
  
  #container-contact{
    width: 68%;
    top:10%;
  }
  
  #container-contact h1{
    position: absolute;
  }
  
  #container-contact p{
    font-size: 1.2em;
  }
  
  #contact-form{
    float: left;
    width: 45%;
    margin-top: 20%;
    padding-right: 20px;
  }
  
  #contact-form #submit-button{
    font-size: 1.2em;
  }
  
  #container-contact-text{
    float: left;
    margin-top: 25%;
  }
  
  #second-image {
  -webkit-clip-path: polygon(0% 0%, 100% 14%, 100% 100%, 0% 100%);
  }

#third-image {
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%); 
  }
  
#fourth-image {
  -webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
  }  
}

@media only screen and (min-width : 650px){
  #container-home{
    margin-top: -43%;
  }
  
  #container-amenities{
    top:37%;
    right: 56%;
  }
  
  #container-units{
    margin-top: -58%;
  }
  
  #container-contact p{
    font-size: 1.3em;
  }
}

@media only screen and (min-width : 750px){
  h1{
    font-size: 2.3em;
  }

  #container-home{
    margin-top: -40%;
  }
  
  #logo{
    width: 50%;
  }
  
  #container-home h2{
    margin-top: 40px;
  }
  
  #container-amenities{
    right:59%;
  }
  
  #container-units{
    margin-top: -52%;
    right: 5%;
  }
  
  #contact-form{
    padding-right: 50px;
  }
  
  #contact-form #submit-button{
    font-size: 1.3em;
  }  
}

@media only screen and (min-width : 800px){
  #container-contact p{
    font-size: 1.4em;
  }
  #container-units{
    margin-top: -47%;
  }
}

@media only screen and (min-width : 860px){ 
  .contact .landscape{
    display: none;
  }
  
  .contact .landscape2{
    display: block;
  }

  
  .wide-menu{
    font-size: 1.5em;
  }
  
  #container-home{
    margin-top: -37%;
  }
  
  #container-home h2{
    margin-top: 50px;
  }
  
  #logo{
    width: 45%;
  }
  
  #container-amenities{
    top: 39%;
    right:60%;
  }

  #contact-form{
    margin-top: 15%;
  }
  
  #contact-form input #checkbox{
    padding-right: 5px;
  }
  
  #container-contact-text{
    margin-top: 18%;
  }
}

@media only screen and (min-width : 900px){
   #container-home p{
    font-size: 1.5em;
 }
  
  #container-home h2{
    font-size: 1.7em;
    margin-top: 40px;
 }
  
  #container-home button{
    font-size: 1.2em;
  }
  
  #container-units{
    margin-top: -45%;
  }
  
  #container-contact{
    width: 60%;
  }
  
  #container-contact p{
    padding-top: 7px;
  }
  
  #contact-form input,
  #contact-form select,
  #contact-form textarea{
    font-size: 1.2em;
  }
  
  #contact-form {
    margin-top: 12%;
    width: 55%;
  }
  
  #container-contact-text {
    margin-top: 17%;
  }
  
  #contact-form #submit-button{
    font-size: 1.4em;
  }
}

@media only screen and (min-width : 1050px){
  h1{
    font-size: 2.8em;
  }
  
  #container-home p{
    font-size: 1.6em;
  }
  
  #container-home h2{
    margin-top: 65px;
 }
  
  #container-amenities{
    right:56.5%;
    width: 250px;
  }
  
  #container-amenities ul,
  #container-units p{
    font-size: 1.6em;
    padding-left: 30px;
  }
  
  #container-units{
    width: 330px;
  }
}

@media only screen and (min-width : 1150px){
  h1{
    font-size: 3.3em;
  }
  
  #container-home{
    margin-top: -34%;
  }
  
  #logo{
    width:40%;
  }
  
  #container-home h2{
    margin-top: 70px;
 }
  
  #container-amenities{
    width:300px;
    right: 55.5%;
    top:40%;
  }
  
  #container-amenities ul,
  #container-units p{
    font-size: 1.7em;
    padding-left: 40px;
  }
  
  #container-units{
    width: 350px;
  }
  
  #container-units h2{
    font-size: 1.9em;
    margin-top: 25px;
  }
  
  #contact-form #submit-button{
    font-size: 1.6em;
  }
}

@media only screen and (min-width : 1300px){
  h1{
    font-size: 4em;
  }
  
  #logo{
    width: 37%;
  }
  
  #container-home p{
    font-size: 1.8em;
  }
  
  #container-home h2{
    font-size: 1.9em;
    margin-bottom: 10px;
  }
  
  #container-home button{
    font-size: 1.5em;
  }
  
  #container-amenities{
    width: 350px;
    right: 56%;
  }
  
  #container-amenities li{
    margin-top: 20px;
  }
  
  #container-contact p {
    padding-top: 15px;
  }
  
  #contact-form{
    margin-top: 15%;
  }
  
  #container-contact-text{
    margin-top: 18%;
  }
}

@media only screen and (min-width : 1400px){
  #container-home h2{
    margin-top: 100px; 
  }
  
  #container-units{
    margin-top: -41%;
  }
}

@media only screen and (min-width : 1500px){
  #logo{
    width: 35%;
  }
  
  #container-home{
    margin-top: -33%;
  }
  
  #container-amenities {
    top: 41%;
    right:57%;
  }
  
  #container-units{
    margin-top: -37%;
  }
  
  #contact-form{
    margin-top: 12%;
  }
  
  #container-contact-text{
    margin-top: 14.5%;
  }
}


@media only screen and (min-width : 1750px){
  h1{
    font-size: 4.8em
  }
  
  #logo{
    width: 32%;
  }
  
  #container-home{
    margin-top: -31%;
  }
  
  #container-home h2{
    margin-top: 120px;
  }
   
  #container-amenities {
    right: 60%;
  }
  
  #container-units{
    margin-top: -32%;
  }
  
  #container-contact{
    width:50%;
    left: 17%;
    margin-top: 5%;
  }
  

}

@media only screen and (min-width : 1900px){
  #container-home{
    margin-top: -30%;
  }
  
  #container-home p{
    font-size: 2em;
  }
  
  #container-home h2{
    font-size: 2.1em
  }
  
  #container-home button{
    font-size: 1.7em;
  }
  
  #container-amenities{
    top: 41.5%;
  }
  
  #container-units{
    right: 11%;
  }
}

@media only screen and (min-width : 2050px){
  #logo{
    width: 30%;
  }
  
  #container-home h2{
   margin-top: 150px;
  }
}

@media only screen and (min-width : 2200px){
  #logo{
    width: 27%;
  }
  
  #container-home h2{
   margin-top: 160px;
  }
  
  #container-amenities{
    top: 42.5%;
    right: 61%;
  }
  
  #container-units{
    margin-top: -29%;
  }
  
    #container-contact-text{
    margin-top: 14%;
  }
}

@media only screen and (min-width : 2350px){
  #logo{
    width: 26%;
  }
  
  #container-home h2{
   margin-top: 220px;
  }
  
  #container-amenities{
    top: 43%;
  }
}

/*contact form*/

/* Normalize placeholder styles */
 
/* chrome, safari */
::-webkit-input-placeholder {
    color: rgba(47, 79, 79, .6);
    font-size:1em;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color: rgba(47, 79, 79, .6);
    font-size:1em;
}
 
/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color: rgba(47, 79, 79, .6);
    font-size:.75em;
}



@-ms-viewport{
  width: device-width;
}

